* {
    padding: 0;
    margin: 0;
    box-sizing: none;
}

#header {
    background-color: #ff4f81;
    color: white;
}

.header-left i {
    margin-right: 4px;
}

.header-right i {
    font-size: 14px;
    padding: 8px 10px;
    background-color: black;
    margin-left: 10px;
    border: 1px solid transparent;
    transition: all 0.5s;
}

.header-right i:hover {
    background-color: #ff4f81;
    border: 1px solid white;
}

.navbar-brand--logo p {
    color: #ff4f81;
    font-size: 0.8em;
    margin-top: -5px;
}

.navbar-nav--menu .nav-item .nav-link {
    font-weight: bold;
    color: black;
    transition: all 0.5s;
}

.navbar-nav--menu .nav-item .nav-link:hover {
    font-weight: bold;
    color: #ff4f81;
}

.nav-item__line {
    width: 0%;
    height: 2px;
    background-color: #ff4f81;
    transition: all 0.5s;
}

.navbar-nav--menu .nav-item:hover>.nav-item__line {
    width: 100%;
}

.navbar-nav--menu .nav-item {
    margin-left: 20px;
}

.navbar-nav--menu .active .nav-link {
    color: #ff4f81 !important;
}

.navbar-nav--menu .active .nav-item__line {
    width: 100%;
}

/* Carousel */

.carousel-caption--config {
    bottom: 30%;
}

.carousel-indicators--config {
    bottom: 20%;
}

.carousel-caption--config p {
    font-size: 1.1em;
    letter-spacing: 4px;
    line-height: 1.8em;
}

.carousel-indicators--config h1 {
    font-weight: normal;
    font-size: 3.3em;
}

.btn--readmore {
    border-radius: 0%;
}

.btn--readmore:hover {
    background-color: #ff4f81;
    color: white;
    transition: all 0.5s;
}

.modal-header--carousel {
    color: #ff4f81;
}

.close-modal--carousel {
    border: none;
}

/* welcome */

.welcome-section {
    padding: 3rem;
}

.welcome-title h1 {
    font-weight: bold;
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 5px;
}

.welcome-title span {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
}

.welcome-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.welcome-title p {
    font-size: 15px;
    color: #999;
    width: 80%;
    line-height: 1.8em;
    padding: 0 10%;
    margin: auto;
}

.education-card i {
    font-size: 30px;
}

.education-card h2 {
    color: #ff4f81;
    font-weight: 600;
    margin: 10px 0;
}

.education-card h3 {
    font-size: 1em;
    font-weight: bold;
}

.education-card p {
    font-size: 15px;
    color: #999;
    line-height: 1.8em;
}

/* Our stats */

.stats-section {
    min-height: 400px;
    background-image: url(../images/banner2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 3rem 15px;
}

.stat-title h1 {
    font-weight: bold;
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 5px;
}

.stat-title span {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
    color: white;
}

.stat-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.stat-detail {
    color: white;
    text-align: center;
}

.stat-detail i {
    font-size: 40px;
}

.stat-detail h2 {
    font-size: 25px;
    color: #ff4f81;
    margin-top: 25px;
}

.stat-detail p {
    font-size: 40px;
}

/* offer section */

.offer-section {
    padding: 3rem 15px;
}

.offer-title h1 {
    font-weight: bold;
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 5px;
}

.offer-title span {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
}

.offer-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.offer-item i {
    font-size: 40px;
    color: #ff4f81;
}

.offer-item {
    -webkit-box-shadow: 0px 0px 2px 1px #aaa;
    -moz-box-shadow: 0px 0px 2px 1px #aaa;
    -o-box-shadow: 0px 0px 2px 1px #aaa;
    box-shadow: 0px 0px 2px 1px #aaa;
    padding: 2rem 1rem;
    margin-bottom: 30px;
    transition: all 0.5s;
}

.offer-item:hover {
    background-color: #12ccc3;
}

.offer-item h3 {
    font-size: 20px;
    color: #212121;
    margin: 20px 0;
}

.offer-item p {
    font-size: 14px;
    color: #6b6b6b;
}

/* test */

.test-section {
    padding: 4rem 15px;
    background-image: url(../images/banner3.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.test-title h1 {
    font-weight: bold;
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 5px;
}

.test-title span {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
}

.test-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.test-slide {
    background-color: rgba(0, 0, 0, 0.47);
    box-shadow: 0px 0px 2px 1px #8e8e8e;
    padding: 30px 30px;
}

.item__post {
    background-color: rgba(0, 0, 0, 0.57);
    padding: 10px 20px;
    color: white;
    margin-bottom: 20px;
    border-radius: 5px;
    position: relative;
}

.item__post::after {
    content: "";
    border-top: 9px solid rgba(0, 0, 0, 0.57);
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    position: absolute;
    bottom: -9px;
    left: 27%;
}

.item__user {
    margin-left: 27%;
    color: white;
    margin-bottom: 20px;
}

.owl-carousel .item__user img {
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 20px;
}

.item__user p {
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: bold;
}

.item__user span {
    color: #ff4f81;
    font-size: 0.8em;
}

.owl-theme--pink .owl-dots .owl-dot span {
    background: #ff4f81;
    opacity: 0.5;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #ff4f81;
    opacity: 1;
}

/* event & new */

.event-section {
    padding: 3rem 15px;
}

.event-title h1 {
    font-weight: bold;
    color: #ff4f81;
    font-size: 40px;
    letter-spacing: 5px;
}

.event-title span {
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 4px;
    color: black;
}

.event-title__line {
    width: 150px;
    height: 2px;
    background-color: black;
    margin: auto;
}

.event-img {
    border: 1px solid #dedede;
}

.event-info h2 {
    font-size: 1.4em;
    letter-spacing: 1px;
    font-weight: 600;
    color: black;
}

.event-info span {
    font-size: 1em;
    font-weight: bold;
    letter-spacing: 1px;
    color: #ff4f81;
}

.event-info p {
    color: #999;
    font-size: 0.9em;
    line-height: 1.8em;
}
.event-section__spacing{
    height: 4rem;
    width: 100%;
}
/* footer */
.footer-detail{
    background-color: #141415;
    padding: 3rem 15px;
}
.footer-detail h2{
    font-size: 1.5em;
    color: #ff4f81;
    font-weight: 500;
    margin-bottom: 20px;
}
.footer-detail p{
    color: #8b8b96;
    font-size: 14px;
    margin-bottom: 10px;
}
.footer__news p i{
    color: #ff4f81;
    margin-right: 10px;
}
.footer__contact i{
 width: 30px;
 height: 30px;
 text-align: center;
 padding: 8px 11px;
 border: 1px solid #4b4b50;
color: white;
}
.footer__contact p span{
    margin-left: 10px;
}
.footer__form h2{
    font-size: 1.5em;
    font-weight: 600;
}
.footer__form input{
    padding: 6px 13px;
    width: 70%;
}
.btn-footer-submit{
    background-color: #ff4f81;
    border-radius: 0px;
    height: 40px;
    margin-top: -5px;
    cursor: pointer;
    width: 25%;
}
.btn-footer-submit:hover{
    background-color: #ec1955;
}
.footer-copyright{
    text-align: center;
    background-color: #212121;
    color: white;
}
.footer-copyright p{
    margin-bottom: 0;
}
.footer-copyright span{
    color: #ff4f81;
}
/* media query */

@media screen and (min-width:768px) and (max-width:992px) {
    .navbar-brand--logo h1 {
        font-size: 20px;
    }
    .navbar-nav--menu .nav-item .nav-link {
        font-size: 0.9em;
    }
    .navbar-nav--menu .nav-item {
        margin-left: 10px;
    }
    .footer__form h2{
        font-size: 1.3em;
    }
}

@media screen and (min-width:768px) and (max-width:834px) {
    .carousel-indicators--config h1 {
        font-weight: normal;
        font-size: 3em;
    }
}

@media screen and (max-width:768px) {
    .carousel-caption--config {
        bottom: 20%;
    }
    .carousel-indicators--config {
        bottom: 0%;
    }
    .carousel-caption--config p {
        font-size: 1em;
        letter-spacing: 2px;
        line-height: 1.8em;
        margin-bottom: 0px;
    }
    .carousel-indicators--config h1 {
        font-weight: normal;
        font-size: 2.2em;
    }
    .welcome-title h2 {
        font-size: 25px;
    }
}

@media screen and (max-width:576px) {
    .navbar-brand--logo h1 {
        font-size: 20px;
    }
    .carousel-caption--config {
        bottom: 10%;
    }
    .carousel-indicators--config {
        bottom: 0%;
    }
    .carousel-caption--config p {
        font-size: 0.8em;
        letter-spacing: 2px;
        line-height: 1.3em;
        margin-bottom: 0px;
    }
    .carousel-indicators--config h1 {
        font-size: 1.5rem;
    }
    /* education */
    .welcome-title h1 {
        font-weight: bold;
        color: #ff4f81;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .welcome-title span {
        font-size: 14px;
        letter-spacing: 2px;
    }
    .welcome-title__line {
        width: 50px;
    }
    /* our stats */
    .stat-title h1 {
        font-weight: bold;
        color: #ff4f81;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .stat-title span {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 4px;
        color: white;
    }
    .stat-title__line {
        width: 50px;
    }
    /* offer */
    .offer-title h1 {
        font-weight: bold;
        color: #ff4f81;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .offer-title span {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 4px;
        color: black;
    }
    .offer-title__line {
        width: 50px;
    }
    /* Test */
    .test-title h1 {
        font-weight: bold;
        color: #ff4f81;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .test-title span {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 4px;
        color: black;
    }
    .test-title__line {
        width: 50px;
    }
    /* News & event */
    .event-title h1 {
        font-weight: bold;
        color: #ff4f81;
        font-size: 25px;
        letter-spacing: 5px;
    }
    .event-title span {
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 4px;
        color: black;
    }
    .event-title__line {
        width: 50px;
    }
    .event-img {
        margin-bottom: 10px;
    }
    .event-section__spacing{
        height: 2rem;
        width: 100%;
    }
}